body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body.green, #medications.green thead {
    background-color: greenyellow;
}

body.red, #medications.red thead {
    background-color:red
}

.main {
    display: grid;
    grid-template-rows: min-content 1fr min-content minmax(0, 160px);
    height: 100vh;
}

#timer {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 36pt;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin: 0 auto;
}

#medications {
    overflow: auto;
}

table {
    margin: 0 auto;
    position: relative;
}

thead, tbody, tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}

td {
    text-align: center;
}

thead {
    position: sticky;
    top: 0;
    background-color: white;
}

.center {
    text-align: center;
}

#version {
    position: fixed;
    bottom: 0;
    right: 0;
}

.delete {
    width: 30px;
}

@media screen and (max-width: 450px) {
    td.hide, th.hide {
        display: none;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: collapse;
    }
}